@media (max-width: 480px) {
  
  header {
    width: auto;
  }

   h1 {
    font-size: 40px;
    text-align: center;
    width: auto;

  }

  nav {
    display: flex;
    flex-direction: column; /* Stack links vertically on smaller screens */
    align-items: center; /* Center links horizontally */
    text-align: center;
    font-size: 30px;
  }


  nav ul {
    width: 100%;
    flex-direction: row;
    justify-content: fill; 
    line-height: 1px;
    font-size: 30px;
    text-align: center;
/* Distribute links evenly */
  }

  nav a {
    font-size: 30px;
    margin: 1px;
    text-align: center;
   /* Adjust line height for better readability on smaller screens */
     /* Reduce margin for smaller screens */
  }

  h2 {
    font-size: 30px;
    text-align: center;
    width: auto;
    padding: 20px;
  }

 .women {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Add space between items */
  }

  .women-card {
    width: 100%;
    height: auto; /* Allow height to adjust based on content */
    background-color: #FFF5B3;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 20px; /* Add padding for better spacing on smaller screens */
  }

  .image {
    .responsive-image {
      width: 1fr;
      height: 1fr; /* Maintain aspect ratio */
    }
   /* Allow height to adjust based on content */
    border-radius: 10px;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  
  header {
    width: auto;
  }

   h1 {
    font-size: 40px;
    text-align: center;
    width: auto;

  }

  nav ul {
    width: 100%;
    flex-direction: row;
    justify-content: center; 
    text-align: center;
    /* Distribute links evenly */
  }

  nav a {
    font-size: 15px;
    /* Adjust link size for smaller screens */
    margin: 0px;
    text-align: center;
    /* Reduce margin for smaller screens */
  }

  h2 {
    font-size: 30px;
    text-align: center;
    width: auto;
    padding: 20px;
  }

 .women {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Add space between items */
  }

  .women-card {
    display: grid;
    grid-template-columns: 1fr; /* Single column layout for smaller screens */
    width: 100%;
    height: auto; /* Allow height to adjust based on content */
    background-color: #FFF5B3;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
     /* Add padding for better spacing on smaller screens */
  }

  .image {
    .responsive-image {
      width: 100%;
      height: auto; 
      /* Maintain aspect ratio */
    }
    width: 100%;
    height: auto; /* Allow height to adjust based on content */
    border-radius: 10px;
    align-items: center;
    justify-content: center;
  }
}